
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item:center;
    background:#3c4157;
  }

   h2 a{
     margin-top: 50px;
    color: #657827;
    color: white;
    font-size: 40px;
    text-align: center;
     font-weight: 1000;
     align: center;
     text-decoration: none;
     margin-left: 100px;
  }
  ul{
    list-style: none;
    margin-top:45px;
  }
    ul li a{
      color: white;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      font-size: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: -10px;
      margin-right: 15px;
      margin-top: 25px;
      margin-bottom: 25px;
      /* background: #b3b3b3; */
      border-right: 30px;
      align: center;
      transition: height 0.2s;
      /* border: 1px solid black; */
      /* border-right: 5px solid black; */
    }
    ul li a:hover{
      /* background-color: violet; */
      text-decoration: none;
      color: violet;
      font-size: 23px;
      /* border: 0px solid black; */
      height: 30px;
    }
  }
